@import "tailwindcss";

:root {
  /* Base Colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --gray-50: #f9f9f9;
  --gray-100: #f5f5f5;
  --gray-200: #f6f6f6;
  --gray-300: #ededed;
  --gray-400: #cfcfcf;
  --gray-500: #fafafa;
  --gray-600: #353535;
  --gray-700: #211c24;
  --gray-800: #4e4e4e;
  --gray-900: #f4f4f4;

  --foreground: #0a0a0a;
  --background: #ffffff;

  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border-destructive: #dc2626;

  --muted: #f3f4f6;
  --muted-foreground: #6b7280;

  /* --secondary: #f9fafb; */
  --secondary-foreground: #1f2937;

  --ring: #e5e7eb;
  --ring-offset-background: var(--background);

  /* Color Palette */
  --primary: #2d3748;
  --secondary: #909090;
  --accent: #ff3e00;
  --star: #ffb547;
  /* --muted-foreground: #989898; */

  --text-primary: var(--color-black);
  --text-secondary: var(--secondary);

  --bg-primary: var(--color-white);
  --bg-secondary: var(--gray-300);
  --bg-section: var(--gray-500);
  --bg-hero: var(--gray-700);
  --bg-card: var(--gray-200);
  --product-icon: var(--gray-800);
  --bg-input: var(--gray-100);
  --bg-progress: #d9d9d9;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }

  .custom-dot-list-style button {
    background-color: transparent;
    border: none;
    width: 4px;
    height: 4px;
    margin: 0 6px;
    border-radius: 9999px;
  }

  .custom-dot-list-style .react-multi-carousel-dot--active button {
    background-color: #000;
  }
}

@layer utilities {
  .grid-areas-featured {
    display: grid;
    grid-template-areas:
      "airpods"
      "vision"
      "ps5"
      "macbook";
    grid-template-columns: 1fr;
  }

  @media (min-width: 640px) {
    .grid-areas-featured {
      grid-template-areas:
        "ps5 macbook"
        "airpods macbook"
        "vision macbook";
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    .grid-areas-featured {
      grid-template-areas:
        "ps5 ps5 macbook macbook"
        "airpods vision macbook macbook";
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .area-ps5 {
    grid-area: ps5;
  }

  .area-airpods {
    grid-area: airpods;
  }

  .area-vision {
    grid-area: vision;
  }

  .area-macbook {
    grid-area: macbook;
  }
}
